{% extends 'layout.html.twig' %}

{% block content %}
<div class="row mb-10">
    <div class="alert alert-danger" role="alert">
        Une erreur s'est produite
    </div>
</div>
<div class="row mb-10 text-center">
    <a href="/" class="btn btn-primary btn-lg btn-xlg">
        Retour à l'accueil
    </a>
</div>
{% endblock content %}